@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600: Phone
600 - 900: Tablet Portrait
900 - 1200: Tablet Landscape
1200 - 1800: Desktop
1800 + : Big Desktop

$breakpoint argument choices:
- phone
- tab-portrait
- tab-landscape
- big-desktop

ORDER: Base + typographgy > general layout + grid > page layout > components
*/

// use EMs so it responds to changes: 1EM = 16PX HERE - our change in _base.scss is ignored
@mixin media-query($breakpoint) {
    @if $breakpoint == phone{
        @media (max-width: 37.5em){ @content }; //600px
    }
    @if $breakpoint == tab-portrait{
        @media (max-width: 56.25em){ @content }; //900px
    }
    @if $breakpoint == tab-landscape{
        @media (max-width: 75em){ @content }; //1200px
    }
    @if $breakpoint == big-desktop{
        @media (min-width: 112.5em){ @content }; //1800px
    }
}